<p class="msg" *ngIf="msg">{{ msg }}</p>
<p class="current-path">{{ currentdir }}</p>
<div class="toolbar">
  <button type="button" class="btn btn-nav" (click)="goBack()" [disabled]="navLoading">Back</button>
  <button type="button" class="btn" (click)="fileInput.click()">Upload</button>
  <input type="file" #fileInput multiple hidden (change)="fileSelected($event)">
  <button type="button" class="btn" (click)="getName()">New Folder</button>
</div>
<div class="upload-progress" *ngIf="uploadProgress > 0">
    <span>{{allFiles}}</span>
  <span>Uploading {{ uploadProgress }}%</span>
  <progress [value]="uploadProgress" max="100"></progress>
</div>
<div class="new-folder" [hidden]="showfolder">
    <form (submit)="$event.preventDefault(); createFolder()">
        <label for="foldername">Name</label>
        <input type="text" id="foldername" [(ngModel)]="foldername" required>
        <button type="submit" class="btn">Create</button>
    </form>
</div>
<hr/>

<form class="file-list-wrap">
    <input type="text" id="currentdir" [(ngModel)]="currentdir" name="currentdir" hidden>
    <table class="file-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let file of files">
                <td>{{ file.name }}</td>
                <td>{{ file.isDir ? "Folder" : "File" }}</td>
                <td>
                    <button type="button" class="btn btn-nav" *ngIf="file.isDir" (click)="openDir(file.name)" [disabled]="navLoading">Open</button>
                    <button type="button" class="btn" *ngIf="!file.isDir" (click)="downloadFile(file.name)">Download</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
